@use "sass:map";
@import "theme";
@import "responsive";


html,
body {
    margin: 0;
}

* {
    font-family: RobotoRoboto, sans-serif !important;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1170px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.button_submit {
    font-size: 14px;
    color: #ffffff;
    font-weight: 800;
    text-transform: uppercase;
    display: inline-block;
    padding: 16px 30px 17px;
    background: red;
    border: none;
    height: 100%;
}

.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
} 

.col-lg-4 {
    flex: 0 0 25%;
    max-width: 25%;
}

.col-lg-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}
  
  

@include Responsive($MEDIUM_DEVICE) {
    .col-lg-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
}

@include Responsive($DESKTOP) {
    .col-xl-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-xl-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

.carousel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
}

.carousel-item img {
    width: 1360;
    height: 450;
}

.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.indicator.active {
    background-color: white;
}
